{% extends "base.html" %}
{% load static %}

{% block title %}AskPupkin - New Question{% endblock %}

{% block content %}
<div class="form-container">
    <h3 class="text-left my-3">New Question</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="content">Text</label>
            {{ form.content }}
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            {{ form.tags }}
        </div>
        <button type="submit" class="btn btn-ask btn-block">ASK!</button>
    </form>
</div>
{% endblock %}
