{% load static %}

<div class="row align-items-center mb-2">
    <div class="col-md-3 d-flex justify-content-start">
        <h1><a class="logo" href="/">AskSirotkin</a></h1>
    </div>

    <div class="col-md-5">
        {% if request.path == '/' or request.path == '/questions/' or 1 %}
        <form class="d-flex" method="GET" action="{% url 'search_questions' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-input" name="q" value="{{ query }}">
            <a href="/ask/">
                <button class="btn btn-success ml-3" type="button">ASK!</button>
            </a>
        </form>
        {% endif %}
    </div>

    <div class="col-md-4 d-flex justify-content-end align-items-center"">
        {% if user.is_authenticated %}
<img src="{{ user.profile.avatar.url }}" alt="Avatar" width="100" class="mb-2 mr-3">
            <div class="d-flex flex-column">
                <span class="ml-4">{{ user.username }}</span>
                <div class="d-flex align-items-center">
                    <a href="{% url 'edit_profile' %}">Profile</a>
                    <a href="{% url 'logout' %}" class="ml-3">Log Out</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary ml-3">Log In</a>
            <a href="{% url 'signup' %}" class="btn btn-success ml-3">Sign Up</a>
        {% endif %}
    </div>
</div>

<hr class="my-2 border border-muted border-2">
