{% extends "base.html" %}
{% load static %}

{% block title %}AskPupkin - Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>log In</h3>
    <p class="my-3" style="color:red;">Sorry, wrong password!</p>
    <form>
        <div class="form-group row">
            <label for="login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="login" value="dr_pepper">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" value="">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-save">Log In!</button>
            </div>
        </div>
        <a href="#" class="offset-sm-2">create new account</a>

    </form>
</div>
        
{% endblock %}
