{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="bg-white rounded">
        <div class="d-flex align-items-start">
            <div class="d-flex flex-column align-items-center me-4" style="margin-right: 20px;">
                {% if question.author.profile.avatar %}
                    <img src="{{ question.author.profile.avatar.url }}" alt="Avatar" width="70" class="mb-2">
                {% else %}
                    <img src="{% static 'img/avatar.png' %}" alt="Avatar" width="70" class="mb-2">
                {% endif %}
                
                <div class="d-flex justify-content-center">
                    <button class="btn btn-sm btn-outline-primary vote-btn" data-type="question" data-id="{{ question.id }}" data-upvote="true">👍</button>
                    <div class="vote-count mx-2" id="vote-count-{{ question.id }}">{{ question.vote_count }}</div>
                    <button class="btn btn-sm btn-outline-danger vote-btn" data-type="question" data-id="{{ question.id }}" data-upvote="false">👎</button>
                </div>
            </div>

            <div>
                <h3>{{ question.title }}</h3>
                <p>{{ question.content }}</p>
                <p><strong>Tags:</strong>
                    {% for tag in question.tags.all %}
                        <a href="#">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <p class="mt-2"><strong>Asked by:</strong> {{ question.author.username }}</p>
    </div>

    <div class="answer-container mt-4">
        {% for answer in answers %}
            <div class="border p-3 rounded mb-3" id="answer-{{ answer.id }}" style="{% if answer.is_correct %} background-color: lightgreen; {% endif %}">
                <div class="d-flex align-items-start">
                    <div class="d-flex flex-column align-items-center me-4" style="margin-right: 20px;">
                        {% if answer.author.profile.avatar %}
                            <img src="{{ answer.author.profile.avatar.url }}" alt="Avatar" width="50" class="mb-2">
                        {% else %}
                            <img src="{% static 'img/avatar.png' %}" alt="Avatar" width="50" class="mb-2">
                        {% endif %}
                        
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-sm btn-outline-primary vote-btn" data-type="answer" data-id="{{ answer.id }}" data-upvote="true">👍</button>
                            <div class="vote-count mx-2" id="vote-count-{{ answer.id }}">{{ answer.vote_count }}</div>
                            <button class="btn btn-sm btn-outline-danger vote-btn" data-type="answer" data-id="{{ answer.id }}" data-upvote="false">👎</button>
                        </div>
                    </div>
                    <div>
                        <p>{{ answer.content }}</p>
                        {% if question.author == request.user %}
                            <input type="checkbox" class="correct-answer-checkbox" data-answer-id="{{ answer.id }}" {% if answer.is_correct %} checked {% endif %}>
                            <label for="correct-answer-checkbox">Correct Answer</label>
                        {% endif %}
                    </div>
                </div>
                <p class="mt-2"><strong>Answered by:</strong> {{ answer.author.username }}</p>
            </div>
        {% empty %}
            <p>No answers yet.</p>
        {% endfor %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-4">
                {% if answers.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
    
                {% for page_num in answers.paginator.page_range %}
                    {% if page_num == answers.number %}
                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                    {% elif page_num >= answers.number|add:"-2" and page_num <= answers.number|add:"2" %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
    
                {% if answers.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ answers.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
        <div class="bg-white rounded mt-4">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-dark">Answer</button>
            </form>
        </div>
    </div>
</div>

{% block scripts %}
<script>
    document.querySelectorAll('.vote-btn').forEach(button => {
        button.addEventListener('click', function() {
            const isUpvote = this.getAttribute('data-upvote') === 'true';
            const modelId = this.getAttribute('data-id');
            const modelType = this.getAttribute('data-type');

            fetch(`/toggle-vote/${modelType}/${modelId}/?is_upvote=${isUpvote}`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.vote_count !== undefined) {
                    const voteCountElement = this.closest('.d-flex').querySelector('.vote-count');
                    voteCountElement.textContent = data.vote_count;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

    document.querySelectorAll('.correct-answer-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const answerId = this.getAttribute('data-answer-id');
            const isChecked = this.checked;
            const questionId = {{ question.id }};

            fetch(`/set-correct-answer/${questionId}/${answerId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ is_correct: isChecked })
            })
            .then(response => response.json())
            .then(data => {
                if (data.is_correct !== undefined) {
                    // Изменение фона у правильного ответа
                    const answerDiv = document.getElementById(`answer-${answerId}`);
                    if (data.is_correct) {
                        answerDiv.style.backgroundColor = 'lightgreen';
                    } else {
                        answerDiv.style.backgroundColor = ''; 
                    }

                    // Убираем галочки с остальных ответов
                    document.querySelectorAll('.correct-answer-checkbox').forEach(otherCheckbox => {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                            const otherAnswerId = otherCheckbox.getAttribute('data-answer-id');
                            const otherAnswerDiv = document.getElementById(`answer-${otherAnswerId}`);
                            otherAnswerDiv.style.backgroundColor = ''; 
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
{% endblock %}
{% endblock %}